<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>vlg</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>

	<context-param>
		<param-name>servidor</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>porta</param-name>
		<param-value>587</param-value>
	</context-param>

	<context-param>
		<param-name>usuario</param-name>
		<param-value>prado.eduardo.luiz@gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>senha</param-name>
		<param-value>dracoslipknot</param-value>
	</context-param>

	<context-param>
		<param-name>tls</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>ssl</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>auth</param-name>
		<param-value>true</param-value>
	</context-param>

</web-app>